.jumbotron {background-image: url(Atlanta_Downtown_Skyline.jpg);
background-repeat: no-repeat;
background-size: cover;
}
.jumbotron h1{color:white;}
.jumbotron h2{color:white; font-style: italic;}

body{font-family: 'Roboto', sans-serif;}
h1 {
  color: black;
  font-size: 40px;
}
.header {
  color: purple;
}
img {
  width: 100px;}
h6 {
  color: green;
  font-size: 16px;
  text-align: center;
}
h5 {
  color: black;
  text-align: center;
  font-size: 16px;
}
